@page
@{
    ViewData["Title"] = "Forbidden";
}
<div class="d-flex flex-column align-items-center">
    <h1 class="text-warning text-center mt-3">403 error</h1>
    <p class="text-center">the server is refusing to serve the request, due to a lack of permission to access the requested resource.</p>
    <a class="nav-link m-5" asp-page="../Jokes/Index">
        <button>back to home</button>
    </a>
</div>