@page
@{
    ViewData["Title"] = "Bad Gateway";
}
<div class="d-flex flex-column align-items-center">
    <h1 class="text-warning text-center mt-3">502 error</h1>
    <p class="text-center">the proxy server is not recieving a valid response, we will fix this problem as soon as possible</p>
    <a class="nav-link m-5" asp-page="../Jokes/Index">
        <button>back to home</button>
    </a>
</div>