@page
@{
    ViewData["Title"] = "Service Unavailable";
}
<div class="d-flex flex-column align-items-center">
    <h1 class="text-warning text-center mt-3">503 error</h1>
    <p class="text-center">the server is not available at this moment. please check again later</p>
    <a class="nav-link m-5" asp-page="../Jokes/Index">
        <button>back to home</button>
    </a>
</div>