@page
@{
    ViewData["Title"] = "Gateway Timeout";
}
<div class="d-flex flex-column align-items-center">
    <h1 class="text-warning text-center mt-3">504 error</h1>
    <p class="text-center">the server is taking too long to respond. we will look into this problem so please check again later.</p>
    <a class="nav-link m-5" asp-page="../Jokes/Index">
        <button>back to home</button>
    </a>
</div>