@page "{SearchString?}"
@model writeAJoke.Pages.Jokes.IndexModel

@{
    ViewData["Title"] = "Home";
}

<p>
    <a asp-page="Create" class="badge badge-pill text-dark" 
    style="background-color: #f3c623; height: 3vh; width : fit-content;">
        Create New Joke
    </a>
</p>
<form class="d-flex mt-4">
    <select asp-for="JokeGenre" asp-items="Model.Genres" class="mb-1 rounded" style="background-color: #f4f6ff; height : fit-content">
        <option value="">All</option>
    </select>
    <p class="ml-4">
        Title : <input type="text" asp-for="SearchString" class="rounded" />
        <input type="submit" value="Filter" style="background-color: #f4f6ff;"/>
    </p>
</form>
<div class="d-flex flex-column align-items-center">
@foreach (var item in Model.Joke) {
        <div class="card mt-2 p-4 d-flex flex-column align-items-center rounded-pill text-dark" 
        style="width: fit-content; border: 3px solid #f3c623">
            <h5 class="card-title">
                @Html.DisplayFor(modelItem => item.Title)
            </h5>
            <div class="crad-body">
                @Html.DisplayFor(modelItem => item.Body)
            </div>
            <p style="color: grey;"><i>by : @Html.DisplayFor(modelItem => item.UserId)</i></p>
    </div>
}
</div>

