@page
@model writeAJoke.Pages.User.RegisterModel

@section Styles{
    <link rel="stylesheet" href="@Href("~/css/button.css")"/>
    <link rel="stylesheet" href="@Href("~/css/border.css")"/>
}

@{
    ViewData["Title"] = "Register";
}

<div class="d-flex flex-column align-items-center">
    <h1>Register</h1>
    <hr/>
    <form asp-rote-returnUrl="@Model.ReturnUrl" method="POST">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div>
            <label asp-for="Input.Name" class="control-label"></label>
            <input asp-for="Input.Name" class="form-control joke-border" />
            <span asp-validation-for="Input.Name" class="text-danger"></span>
        </div>
        <div>
            <label asp-for="Input.Email" class="control-label"></label>
            <input asp-for="Input.Email" class="form-control joke-border"/>
            <span asp-validation-for="Input.Email" class="text-danger"></span>
        </div>
        <div>
            <label asp-for="Input.Password" class="control-label"></label>
            <input asp-for="Input.Password" class="form-control joke-border"/>
            <span asp-validation-for="Input.Password" class="text-danger"></span>
        </div>
        <button type="submit" class="submit-button mt-3">Register New User</button>
    </form>
</div>