@page
@model writeAJoke.Pages.User.RegisterModel

<div class="d-flex flex-column align-items-center">
    <h1>Register</h1>
    <form asp-rote-returnUrl="@Model.ReturnUrl" method="POST">
        <div asp-validation-summary="All"></div>
        <div>
            <label asp-for="Input.Name"></label>
            <input asp-for="Input.Name"/>
            <span asp-validation-for="Input.Name"></span>
        </div>
        <div>
            <label asp-for="Input.Email"></label>
            <input asp-for="Input.Email"/>
            <span asp-validation-for="Input.Email"></span>
        </div>
        <div>
            <label asp-for="Input.Password"></label>
            <input asp-for="Input.Password"/>
            <span asp-validation-for="Input.Password"></span>
        </div>
        <button type="submit">Register</button>
    </form>
</div>