@page
@model ErrorModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-warning text-center">Error.</h1>
<h2 class="text-warning text-center">An error occurred while processing your request.</h2>
<p class="text-center">please forgive us, our team has been notified we will work on this problem very soon</p>
